<launch>
    <!-- Load controllers -->
    <rosparam command="load" file="$(find arm_description)/config/joints_controllers.yaml" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/arm_robot" args="
            joint_state_controller
            joint1_position_controller
            joint2_position_controller
            joint3_position_controller ">
    </node>

</launch>

    